<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/logs/internal-nlog-AspNetCore.txt">

    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>

    <targets>
        <target xsi:type="File" name="fileinfo" fileName="${basedir}/logs/${date:format=yyyy-MM-dd}.log"
                layout="${longdate} ${when:when='${level}' == 'Trace':inner=🔍}${when:when='${level}' == 'Debug':inner=🐞}${when:when='${level}' == 'Info':inner=ℹ️}${when:when='${level}' == 'Warn':inner=⚠️}${when:when='${level}' == 'Error':inner=❌}${when:when='${level}' == 'Fatal':inner=🔥} ${uppercase:${level}} ${message}" createDirs="true" />

        <target xsi:type="File" name="filewarn" fileName="${basedir}/logs/${date:format=yyyy-MM-dd}-warn.log"
                layout="${longdate} ⚠️ ${uppercase:${level}} ${message}" createDirs="true" />

        <target xsi:type="File" name="fileerror" fileName="${basedir}/logs/${date:format=yyyy-MM-dd}-error.log"
                layout="${longdate} ❌ ${uppercase:${level}} ${message}" createDirs="true" />

        <target xsi:type="Console" name="console" encoding="utf-8"
                layout="${longdate} ${when:when='${level}' == 'Trace':inner=🔍}${when:when='${level}' == 'Debug':inner=🐞}${when:when='${level}' == 'Info':inner=ℹ️}${when:when='${level}' == 'Warn':inner=⚠️}${when:when='${level}' == 'Error':inner=❌}${when:when='${level}' == 'Fatal':inner=🔥} ${uppercase:${level}} ${message}" />

    </targets>

    <rules>
        <logger name="*" levels="Debug,Info, Warn, Error" writeTo="fileinfo" />
        <logger name="*" levels="Warn" writeTo="filewarn" />
        <logger name="*" levels="Error" writeTo="fileerror" />
        <logger name="*" minlevel="Debug" writeTo="console" />
    </rules>
</nlog>
